<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Reviews</title>
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="mycss/book.css" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <!--a class="navbar-brand" href=""><span style="color:#B58AA5" >Hear the Critics.</span></a-->
		  <p class="navbar-brand" >Hear The Critics.</p>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
				<li><a href="homepage.html">HOME</a></li>
				<li class="active"><a href="fiction.html">REVIEWS<span class="sr-only">(current)</span></a></li>
				<li><a href="profile.html">PROFILE</a></li>
				<li><a href="shop.html">SHOP</a></li>
				<li><a href="contact.html">CONTACT US</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Enter value..">
			<input type="submit" class="btn btn-default" role="button" value="Search"></input>
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li><a href="fiction.html">Fiction</a></li>
			<li class="active"><a href="classics.html">Classics<span class="sr-only">(current)</span></a></li>
            <li><a href="autobiography.html">Autobiography</a></li>
            <li><a href="thriller.html">Thriller</a></li>
			<li><a href="adventure.html">Adventure</a></li>
          </ul>
        </div>
        <div class="col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Evergreen Classics.</h1>
			<div class="row">
				<div class="col-lg-3">
					<div class="thumbnail">
						<img src="images/classics/sense.jpg" alt="sense">
						<div class="caption">
							<h3>Sense & Sensibility</h3>
							<h6>By Jane Austen</h6>
							<p>...</p>
							<p><a href="#" class="btn btn-default" role="button">Continue reading</a></p>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="thumbnail">
						<img src="images/classics/rj.jpg" alt="romeo">
						<div class="caption">
							<h3>Romeo and Juliet</h3>
							<h6>By William Shakespeare</h6>
							<p>...</p>
							<p><a href="#" class="btn btn-default" role="button">Continue reading</a></p>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="thumbnail">
						<img src="images/classics/mansfield.jpg" alt="mansfield">
						<div class="caption">
							<h3>Mansfield Park</h3>
							<h6>By Jane Austen</h6>
							<p>...</p>
							<p><a href="#" class="btn btn-default" role="button">Continue reading</a></p>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="thumbnail">
						<img src="images/classics/pride.jpg" alt="pride">
						<div class="caption">
							<h3>Pride and Prejudice</h3>
							<h6>By Jane Austen</h6>
							<p>...</p>
							<p><a href="#" class="btn btn-default" role="button">Continue reading</a></p>
						</div>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="thumbnail">
						<img src="images/classics/merchant.jpg" alt="merchant">
						<div class="caption">
							<h3>Merchant of Venice</h3>
							<h6>By William Shakespeare</h6>
							<p>...</p>
							<p><a href="#" class="btn btn-default" role="button">Continue reading</a></p>
						</div>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="thumbnail">
						<img src="images/classics/julius.jpg" alt="julius">
						<div class="caption">
							<h3>Julius Caesar</h3>
							<h6>By William Shakespeare</h6>
							<p>...</p>
							<p><a href="#" class="btn btn-default" role="button">Continue reading</a></p>
						</div>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="thumbnail">
						<img src="images/classics/jane.jpg" alt="jane">
						<div class="caption">
							<h3>Jane Eyre</h3>
							<h6>By Charlotte Bronte</h6>
							<p>...</p>
							<p><a href="#" class="btn btn-default" role="button">Continue reading</a></p>
						</div>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="thumbnail">
						<img src="images/classics/christmas.jpg" alt="christmas">
						<div class="caption">
							<h3>Christmas Carol</h3>
							<h6>By Charles Dickens</h6>
							<p>...</p>
							<p><a href="#" class="btn btn-default" role="button">Continue reading</a></p>
						</div>
					</div>
				</div>
			</div>
      </div>
    </div>
  </body>
</html>