<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My Profile</title>
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="mycss/profile.css" rel="stylesheet">
  </head>
  <body>
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container-fluid">
			<div class="navbar-header">
			<p class="navbar-brand" >Your Profile.</p>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="homepage.html">HOME</a></li>
				<li><a href="fiction.html">REVIEWS</a></li>
				<li class="active"><a href="profile.html">PROFILE<span class="sr-only">(current)</span></a></li>
				<li><a href="shop.html">SHOP</a></li>
				<li><a href="contact.html">CONTACT US</a></li>
			</ul>
			</div>
			</div>
		</nav>
		<div class="side-bar">
			<img src="images/blankprofile.jpg" /><br>
			<form align="center">
				<input type="submit" class="btn btn-default" value="Change Profile Photo"></input>
			</form>
		</div>
		<div class="main">
			<div class="page-header">
			<h1>User Name </h1>
			</div>
			<pre>
			First Name :		Faritha
			Last Name :		Nasreen
			Gender :			Female
			Email_id :			faritha.95@gmail.com
			Contact:			9500173602
			About Me : 		I am FUN redefined :P
			</pre>
			<form>
				<input type="submit" class="btn btn-default" value="Update profile"></input>
			</form>
		</div>
	</body>
</html>