<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Shop</title>
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="mycss/shop.css" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<p class="navbar-brand" >Shop here.</p>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
				<li><a href="homepage.html">HOME</a></li>
				<li><a href="fiction.html">REVIEWS</a></li>
				<li><a href="profile.html">PROFILE</a></li>
				<li class="active"><a href="shop.html">SHOP<span class="sr-only">(current)</span></a></li>
				<li><a href="contact.html">CONTACT US</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div id="column1"></div>		
	<div id="column2">
		<form>
			<label for="book_name" id="1">Book Name</label>
			<input type="text" id="book_name" placeholder="Enter Book Name"></input>
		</form>
	</div>
	<div id="column3"></div>
	<div class="footer" id="footer">
		<p>Copyright &copy; www.bookish.com</p>
	</div>
  </body>
</html>