<<table>
  <tr>
    <th>Author Name</th>
    <td><%= %></td>
  </tr>
  <% @authors.each do |author| %>
      <tr>
        <td><%= author.name%></td>
        <td><%= %></td>
      </tr>
  <% end %>
</table>
