<!DOCTYPE html>
<html>
    <head>
	<link rel="stylesheet" type="text/css" href="mycss/signup.css">
	<link href="css/bootstrap.min.css" rel="stylesheet">
        <title>sign up</title>
        <meta charset="windows-1252">
        <meta name="viewport" content="width=device-width">
    </head>
    <body>
	<div class="page-header" id="header">
	<h1>Join Us</h1>
	</div>
	<div id="section">
	<form>
	<label for="firstname">First Name </label>
	<input type="text" id="firstname">
	<label for="lastname">Last Name </label>
	<input type="text" id="lastname">
	<br><br>
	<label for="sex" id="gender" >Gender</label>
	<input type="radio" name="sex" value="male" >Male &nbsp&nbsp&nbsp&nbsp
	<input type="radio" name="sex" value="female">Female
	<br><br>
	<label for="email">Email </label>
	<input type="text" id="email">
	<br><br>
	<label for="password">Password </label>
	<input type="password" id="password">
	<br><br>
	<label for="cpassword">Confirm Password</label>
	<input type="cpassword" id="cpassword">
	<br><br>
	<button type="submit" class="btn btn-default" formmethod="post" formaction="homepage.html">Submit</button>
	</form>
	</div>
	</body>
	</html>