*{
		padding: 0px;
		margin: 0px;
	}
.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

#column1
	{
		float:left;
		padding:20px;
		background-color:#FF7260;
		height:600px;
		width:300px;	
		
	}
	#column2
	{
		margin-top:80px;
		margin-left:23px;
		border:1px solid #eee;
		box-shadow: 5px 5px 5px #eee;
		float:left;
		padding:20px;
		height:500px;
		width:700px;
	}
	#1
	{
		width:200px;
		padding: 5px;
	}
	#book_name
	{
		width: 200px;
		padding: 5px;
		border: 1px solid #DCDCDC;
		border-radius: 10px;
	}
	#column3
	{
		float:right;
		padding:20px;
		background-color:#FF7260;
		height:600px;
		width:300px;
	}
	div#footer
	{
		clear:both;
		font-family: monotype corsiva;
		font-size: 20px;
		text-align:center;
		padding-top: 10px;
		border-top: 1px solid #DBDBDB;
	}
